{% extends 'base.html' %}
{% block content %}
<div class="message-box">
    <h2>Chat Room: {{code}}</h2>
    <button type="button" id="leave-btn" onclick="leaveRoom()">Leave Room</button>
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" placeholder="Message" name="message" id="message" required>
        <button type="button" name="send" id="send-btn" onclick="sendMessage()">Send</button>
    </div>
</div>
<script type="text/javascript">
    var socketio = io();

    const messages = document.getElementById("messages");
    const username = "{{ session['name'] }}";

    const createMessage = (name, msg, isOwnMessage) => {
        const messageId = `message-${Date.now()}`;
        const alignmentClass = isOwnMessage ? "text-right" : "text-left";
        const content = `
        <div class="message ${alignmentClass}" id="${messageId}">
            <div class="name">${name}</div>
            <div class="text">${msg}</div>
        </div>`;
        messages.innerHTML += content;
        document.getElementById(messageId).scrollIntoView();
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message, data.name === username);
    });

    const sendMessage = () => {
            const message = document.getElementById("message");
            if (message.value == "") return;
            socketio.emit("message", { data: message.value });
            message.value = "";
        };

    document.getElementById('message').addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            sendMessage();
        }
    });

    const leaveRoom = () => {
        socketio.emit("leave");
        window.location.href = "/";
    };

    socketio.on("disconnect", () => {
        alert("Server has encountered an issue. Please leave the room.");
        leaveRoom();
    });
</script>
{% for msg in messages %}
<script type="text/javascript">
    createMessage("{{ msg.name }}", "{{ msg.message }}");
</script>
{% endfor %}
{% endblock %}
